# Ignore compiled C++ files
*.exe
*.out
*.o

# Ignore VS Code settings
.vscode/

# Ignore macOS and Linux system files
.DS_Store
*.swp
".vscode/" 
"*.exe" 
"*.log" 
# Ignore the input.txt n output.txt
input.txt
output.txt
